<h1 mat-dialog-title>EBS Status</h1>
<div mat-dialog-content>
  <div>
    <h4>Logs</h4>
  </div>
<div class="row">
  <div class="col-md-12">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Transaction">
        <th mat-header-cell *matHeaderCellDef><label> Transaction</label> </th>
        <td mat-cell *matCellDef="let element"> {{element.Transaction}} </td>
      </ng-container>
      <ng-container matColumnDef="Domain">
        <th mat-header-cell *matHeaderCellDef> Domain</th>
        <td mat-cell *matCellDef="let element"> {{element.Domain}} </td>
      </ng-container>
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
      </ng-container>

      <ng-container matColumnDef="AppId">
        <th mat-header-cell *matHeaderCellDef> Application Id </th>
        <td mat-cell *matCellDef="let element"> {{element.AppId}} </td>
      </ng-container>

      <ng-container matColumnDef="Component">
        <th mat-header-cell *matHeaderCellDef> Component </th>
        <td mat-cell *matCellDef="let element"> {{element.Component}} </td>
      </ng-container>

      <ng-container matColumnDef="TimeStamp">
        <th mat-header-cell *matHeaderCellDef> TimeStamp </th>
        <td mat-cell *matCellDef="let element"> {{element.TimeStamp}} </td>
      </ng-container>

      <ng-container matColumnDef="LogMessage">
        <th mat-header-cell *matHeaderCellDef> LogMessage </th>
        <td mat-cell *matCellDef="let element"> {{element.LogMessage}} </td>
      </ng-container>

      <ng-container matColumnDef="TransBefore">
        <th mat-header-cell *matHeaderCellDef> Transaction Before </th>
        <td mat-cell *matCellDef="let element"> {{element.TransBefore}} </td>
      </ng-container>

      <ng-container matColumnDef="TransAfter">
        <th mat-header-cell *matHeaderCellDef> Transaction After </th>
        <td mat-cell *matCellDef="let element"> {{element.TransAfter}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div style="padding-top: 12px;">
  <h4>Exceptions</h4>
</div>
<div class="row">
  <div class="col-md-12">
    <table mat-table [dataSource]="dataSource1">
      <ng-container matColumnDef="TransactionId">
        <th mat-header-cell *matHeaderCellDef><label> Transaction Id</label> </th>
        <td mat-cell *matCellDef="let element"> {{element.TransactionId}} </td>
      </ng-container>
      <ng-container matColumnDef="Domain">
        <th mat-header-cell *matHeaderCellDef> Domain</th>
        <td mat-cell *matCellDef="let element"> {{element.Domain}} </td>
      </ng-container>
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
      </ng-container>

      <ng-container matColumnDef="AppId">
        <th mat-header-cell *matHeaderCellDef> Application Id </th>
        <td mat-cell *matCellDef="let element"> {{element.AppId}} </td>
      </ng-container>

      <ng-container matColumnDef="Component">
        <th mat-header-cell *matHeaderCellDef> Component </th>
        <td mat-cell *matCellDef="let element"> {{element.Component}} </td>
      </ng-container>

      <ng-container matColumnDef="TimeStamp">
        <th mat-header-cell *matHeaderCellDef> TimeStamp </th>
        <td mat-cell *matCellDef="let element"> {{element.TimeStamp}} </td>
      </ng-container>

      <ng-container matColumnDef="TransactionDate">
        <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
        <td mat-cell *matCellDef="let element"> {{element.TransactionDate}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
  </div>
</div>

<div class="row" style="padding-top: 12px;">

</div>
</div>
<div mat-dialog-actions style="float: right;">
    <button mat-button>Ok</button>
</div>