<h1 mat-dialog-title>Zavacor Details</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Order</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Site</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Release Date</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline" >
        <mat-label>Release Time</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Release Delivery Date</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Close Date</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Close Time</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Log Status</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Workflow Status</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button>Ok</button>
</div>